@model IEnumerable<SayHi.Models.PersonModel>

@{
	ViewData["Title"] = "Say Hi: Index";
}

<div class="text-center">
	<h1>Say Hi!</h1>
	<p>Please <a asp-controller="SayHi" asp-action="Create">Say Hi!</a></p>
</div>
